#----------------------------------------------------------------------------
#    ____                ____                         ______               
#   / __ \___  ___ ___  / __ \_______ ____  ___ ____ / __/ /____  ______ _ 
#  / /_/ / _ \/ -_) _ \/ /_/ / __/ _ `/ _ \/ _ `/ -_)\ \/ __/ _ \/ __/  ' \
#  \____/ .__/\__/_//_/\____/_/  \_,_/_//_/\_, /\__/___/\__/\___/_/ /_/_/_/
#      /_/                                /___/                            
#                    
#----------------------------------------------------------------------------
;   Orange Storm Giga Series Custom Image by (OpenNeptune3D/OpenOrangeStorm):
#----------------------------------------------------------------------------
; Wiki    : https://github.com/OpenNeptune3D/OpenOrangeStorm/wiki
; Discord : https://discord.com/invite/X6kwchT6WM

#############################################################################
#   External Config Includes
#############################################################################
[include mainsail.cfg]          ; mainsail runs on port 81 (http://IP_ADDRESS:81)
[include fluidd.cfg]
[include KAMP_Settings.cfg]
[include ./KAMP/Smart_Park.cfg]
[include ./KAMP/Line_Purge.cfg]
#[include klipper_debug.cfg]

#############################################################################
#   CAN Bus Config
#############################################################################

# Orangestorm Giga Mainboard
[mcu]
canbus_uuid: 7dfcfd19b04d

# Metexon Toolboard 
[mcu mcu1]
# replace this with the actual UUID
# as printed on the Metexon toolboard label 
canbus_uuid: 5dde84706e44

#############################################################################
#   Extruder Config
#############################################################################

# Metexon MTX6 
[include printer_mtx6.cfg]

# BIQU MicroProbe attached to MTX6 toolboard
[include printer_mtx6_microprobe.cfg]


#############################################################################
#   Printer Config
#############################################################################

# Orangestorm Giga config

[include printer_giga.cfg]

[include printer_giga_bed.cfg]
[include printer_giga_heating_and_fans.cfg]
[include printer_giga_macros_and_homing.cfg]
[include printer_giga_steppers.cfg]


