
#############################################################################
#   X/Y/Z Stepper Config
#############################################################################

[stepper_x]
step_pin:PC14
dir_pin:PC13
enable_pin:!PC15
microsteps: 16
rotation_distance: 59.8519
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:PD0
position_min: -5
position_endstop:815
position_max: 815.5
homing_speed:80
homing_retract_dist:10
second_homing_speed:10
homing_positive_dir:true
step_pulse_duration:0.000002

[stepper_y]
step_pin:PE3
dir_pin:PE2
enable_pin:!PE4
microsteps:16
rotation_distance: 59.8519
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
gear_ratio: 50:20
endstop_pin:PC12
position_min: -1.0
position_endstop:805.0
position_max:805.5
homing_speed:80
homing_retract_dist:10
second_homing_speed:10
homing_positive_dir:true
step_pulse_duration:0.000002

[stepper_z]
step_pin:PB8
dir_pin:PB7
enable_pin: !PB9
microsteps: 16
rotation_distance: 8
gear_ratio: 50:20
full_steps_per_rotation: 200
endstop_pin:PC11
#position_endstop:0 # set in SAVE_CONFIG section in printer.cfg
position_max: 1020  # Limit travel: 1050
position_min: -12
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 5
homing_positive_dir:false

[stepper_z1]
step_pin:PB3
dir_pin:PD7
enable_pin: !PB4
microsteps: 16
rotation_distance: 8
gear_ratio: 50:20
full_steps_per_rotation: 200
endstop_pin:PC10

#############################################################################
#   TMC Stepper-driver UART Config
#############################################################################

[tmc2209 stepper_x]
uart_pin: PE5
run_current: 1.8
hold_current: 1.0
interpolate: False
#interpolate: True
#stealthchop_threshold:99999
# driver_SGTHRS:80
# diag_pin:^PD0

[tmc5160 stepper_y]
cs_pin:PE0
spi_software_sclk_pin:PE12
spi_software_mosi_pin:PE14
spi_software_miso_pin:PE13
spi_speed:200000
run_current: 2.8
hold_current: 1.5
sense_resistor: 0.033
interpolate:False
#interpolate:True
#stealthchop_threshold:99999

[tmc2209 stepper_z]
uart_pin: PB5
run_current: 1.0
hold_current: 1.0
#interpolate: True
#stealthchop_threshold: 120

[tmc2209 stepper_z1]
uart_pin: PD5
run_current: 1.0
hold_current: 1.0
#interpolate: True
#stealthchop_threshold: 120


[motor_constants ldo-42sth60-2004ac]
resistance: 0.45#2.1
inductance:0.00124 #0.0041
holding_torque: 1.300#0.85
max_current: 2.8
steps_per_revolution: 200

[motor_constants ldo-42sth47-1684a]
resistance: 1.1
inductance: 0.0028
holding_torque: 0.62
max_current: 1.8
steps_per_revolution: 200

[autotune_tmc stepper_y]
motor: ldo-42sth60-2004ac

[autotune_tmc stepper_x]
motor: ldo-42sth47-1684a