
#############################################################################
#   Z Tilt Config
#############################################################################

[z_tilt]
z_positions: 
    -50,400
    980,400
points: 
    200,400
    600,400
speed: 50
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.01


#############################################################################
#   Bed Mesh Leveling
#############################################################################

[bed_mesh]
speed:120                
horizontal_move_z:5     
mesh_min:16,40              
mesh_max:786,797         
probe_count:10,10          
algorithm:bicubic
bicubic_tension:0.2
mesh_pps: 4, 4
fade_start: 1.0
fade_end: 30.0   



#############################################################################
#   Bed Screw Config
############################################################################# 

[bed_screws]
screw1: 65,50
screw2: 205,50
screw3: 345,50
screw4: 475,50
screw5: 615,50
screw6: 755,50
screw7: 755,190
screw8: 475,190
screw9: 615,190
screw10: 345,190
screw11: 205,190
screw12: 65,190
screw13: 65,330
screw14: 205,330
screw15: 345,330
screw16: 615,330
screw17: 475,330
screw18: 755,330
screw19: 755,460
screw20: 475,460
screw21: 615,460
screw22: 345,460
screw23: 205,460
screw24: 65,460
screw25: 65,600
screw26: 205,600
screw27: 345,600
screw28: 615,600
screw29: 475,600
screw30: 755,600
screw31: 755,740
screw32: 475,740
screw33: 615,740
screw34: 345,740
screw35: 205,740
screw36: 65,740

[screws_tilt_adjust]
screw1: 630,230
screw2: 80,90
screw3: 220,90
screw4: 360,90
screw5: 490,90
screw6: 630,90
screw7: 770,90
screw8: 770,230
screw9: 490,230
screw10: 360,230
screw11: 220,230
screw12: 80,230
screw13: 80,370
screw14: 220,370
screw15: 360,370
screw16: 490,370
screw17: 630,370
screw18: 770,370
screw19: 770,500
screw20: 630,500
screw21: 490,500
screw22: 360,500
screw23: 220,500
screw24: 80,500
screw25: 80,640
screw26: 220,640
screw27: 360,640
screw28: 490,640
screw29: 630,640
screw30: 770,640
screw31: 770,780
screw32: 630,780
screw33: 490,780
screw34: 360,780
screw35: 220,780
screw36: 80,780
screw1_name: Pos x=5 y=2 (do not adjust!)
screw2_name: Pos x=1 y=1 (x is left to right)
screw3_name: Pos x=2 y=1 (y is front to back)
screw4_name: Pos x=3 y=1
screw5_name: Pos x=4 y=1
screw6_name: Pos x=5 y=1
screw7_name: Pos x=6 y=1
screw8_name: Pos x=6 y=2
screw9_name: Pos x=4 y=2
screw10_name: Pos x=3 y=2
screw11_name: Pos x=2 y=2
screw12_name: Pos x=1 y=2
screw13_name: Pos x=1 y=3
screw14_name: Pos x=2 y=3
screw15_name: Pos x=3 y=3
screw16_name: Pos x=4 y=3
screw17_name: Pos x=5 y=3
screw18_name: Pos x=6 y=3
screw19_name: Pos x=6 y=4
screw20_name: Pos x=5 y=4
screw21_name: Pos x=4 y=4
screw22_name: Pos x=3 y=4
screw23_name: Pos x=2 y=4
screw24_name: Pos x=1 y=4
screw25_name: Pos x=1 y=5
screw26_name: Pos x=2 y=5
screw27_name: Pos x=3 y=5
screw28_name: Pos x=4 y=5
screw29_name: Pos x=5 y=5
screw30_name: Pos x=6 y=5
screw31_name: Pos x=6 y=6
screw32_name: Pos x=5 y=6
screw33_name: Pos x=4 y=6
screw34_name: Pos x=3 y=6
screw35_name: Pos x=2 y=6
screw36_name: Pos x=1 y=6
horizontal_move_z: 10
screw_thread: CCW-M4

