
#############################################################################
#   Printer Config
#############################################################################


[printer]
kinematics:cartesian
max_velocity: 500
max_accel: 5000
max_z_velocity: 20
max_z_accel: 200
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.0

[respond]
[gcode_arcs]
[pause_resume]
[display_status]
[exclude_object]
[firmware_retraction]
[virtual_sdcard]
path: ~/printer_data/gcodes
[force_move]
enable_force_move : True
[idle_timeout]
timeout: 2100                  ; 35min idle timeout (when not paused or printing)






#############################################################################
#   Input Shaper Config
#############################################################################

[input_shaper]
shaper_freq_x: 66.66    
shaper_freq_y: 42.05   
shaper_type_x: mzv
shaper_type_y: ei
