#############################################################################
# Pellet Extruder Metexon MTX6
#############################################################################

# load Metetxon toolboard module, defines mtx temperature sensor type
[metexon_toolboard mtx6]
board_mcu: mcu1

[extruder]
step_pin: mcu1:PIN_STEP
dir_pin: mcu1:PIN_DIR
enable_pin: !mcu1:PIN_EN
microsteps: 16
rotation_distance: 1.538 
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: mtx                 # use mtx temperature sensor type
mtx_board: mtx6                  # toolboard ID
mtx_sensor_channel: t1           # t1 is heating zone 1 (tip)
heater_pin: mcu1:PIN_UNUSED_1    # just to make klipper happy
                                 # heating is handed over to MTX6 firmware
control: watermark               # required, but no effect, heating is done by MTX6 firmware
min_temp: 10
max_temp: 320
min_extrude_temp: 10 # allow cold extrusion for testing
max_extrude_cross_section: 5  # allow long extrudes
max_extrude_only_distance: 100 # allow long extrudes
max_extrude_only_accel: 400 # for retractions


# MTX6 second heating zone
[heater_generic Extruder_T2]
sensor_type: mtx                 # use mtx temperature sensor type
mtx_board: mtx6                  # toolboard ID
mtx_sensor_channel: t2           # t2 is heating zone 2 (barrel)
heater_pin: mcu1:PIN_UNUSED_2    # just to make klipper happy
                                 # heating is handed over to MTX6 firmware
control: watermark               # required, but no effect, heating is done by MTX6 firmware
min_temp: 10
max_temp: 320

[verify_heater extruder]
max_error: 120
check_gain_time: 50
hysteresis: 10
heating_gain: 2


[verify_heater Extruder_T2]
max_error: 120
check_gain_time: 50
hysteresis: 10
heating_gain: 2


# part cooling fan. replaces [fan] section
[metexon_fan]
mtx_board: mtx6
# pin and tachometer are handled by metexon_fan module


# TMC driver configuration for MTX6
[tmc5160 extruder]
spi_software_sclk_pin: mcu1:PIN_TMC_SCK
spi_software_mosi_pin: mcu1:PIN_TMC_MOSI  
spi_software_miso_pin: mcu1:PIN_TMC_MISO
spi_speed: 400000          
cs_pin: mcu1:PIN_TMC_CSN
sense_resistor: 0.05               # Ω – value on your board
run_current: 1.75                  # RMS Amps
hold_current: 0.10
stealthchop_threshold: 0
diag0_pin: ^!mcu1:PIN_TMC_DIAG0


# Temperature sensor Metexon toolboard, extruder body
[temperature_sensor MTX6_Body]
sensor_type: mtx
mtx_board: mtx6
mtx_sensor_channel: body

# Temperature sensor Metexon toolboard, ESP32 internal temperature
# comment in to activate
#[temperature_sensor MTX6_ESP32]
#sensor_type: mtx
#mtx_board: mtx6
#mtx_sensor_channel: esp32


# Temperature sensor Metexon toolboard, RP2040 internal temperature
# comment in to activate
#[temperature_sensor MTX6_rp2040]
#sensor_type: temperature_mcu
#sensor_mcu: mcu1


# example macro to get MTX6 status
[gcode_macro QUERY_MTX6]
gcode:
    # "mtx6" is the toolboard ID defined above in [metexon_toolboard mtx6]
    {% set mtx = printer["mtx6"] %}
    {action_respond_info(
        "Temperature 1: %.1f C\n"
        "Temperature 2: %.1f C\n"
        "Setpoint Temperature 1: %.1f C\n"
        "Setpoint Temperature 2: %.1f C\n"
        "PWM 1: %.2f\n"
        "PWM 2: %.2f\n"
        "Body Temperature: %.1f C\n"
        "ESP32 Temperature: %.1f C\n"
        "Fan Speed: %.0f %%\n"
        "Fan RPM: %.0f RPM\n"
        "Body Fan Speed: %.0f %%\n"
        "Body Fan RPM: %.0f RPM"
         % (
            mtx.temperature1,
            mtx.temperature2,
            mtx.setpoint_temperature1,
            mtx.setpoint_temperature2,
            mtx.pwm1,
            mtx.pwm2,
            mtx.temperature_body,
            mtx.temperature_esp32,
            mtx.fan_speed * 100,
            mtx.fan_rpm,
            mtx.fan_body_speed * 100,
            mtx.fan_body_rpm
            ))}



[board_pins]
mcu: mcu1
aliases:
    # extruder stepper driver pins (TMC5160)
    PIN_STEP=gpio25,
    PIN_DIR=gpio24,
    PIN_EN=gpio23,
    
    # TMC5160 SPI 
    PIN_TMC_MOSI=gpio19,  # SPI MOSI
    PIN_TMC_MISO=gpio20,  # SPI MISO
    PIN_TMC_SCK=gpio21,   # SPI SCK
    PIN_TMC_CSN=gpio22,   # SPI CSN
    PIN_TMC_DIAG0=gpio18, # TMC DIAG0

    PIN_LED=gpio5,

    PIN_SCL=gpio7, # mcu interconnect, used internally
    PIN_SDA=gpio6, # mcu interconnect, used internally

    #  extension ports on the board
    #
    #  Expansion port 1, JST XH 4-pin:
    #  pin 1: 5V
    #  pin 2: GPIO_EXT1
    #  pin 3: GND
    #  pin 4: GPIO_EXT2
    #
    #  Expansion port 2, JST XH 4-pin:
    #  pin 1: 5V
    #  pin 2: GPIO_EXT3
    #  pin 3: GND
    #  pin 4: GPIO_EXT4

    PIN_GPIO_EXT1=gpio26,
    PIN_GPIO_EXT2=gpio27,
    PIN_GPIO_EXT3=gpio28,
    PIN_GPIO_EXT4=gpio29,

    # pins not connected to anything
    PIN_UNUSED_1=gpio2,
    PIN_UNUSED_2=gpio3,
    PIN_UNUSED_3=gpio4,

