
##   Probe Config
# BIQU MicroProbe v2
# https://github.com/bigtreetech/MicroProbe
[output_pin probe_enable]
pin: mcu1:PIN_GPIO_EXT1
value: 0

[gcode_macro PROBE_DEPLOY]
gcode:
    SET_PIN PIN=probe_enable VALUE=1


[gcode_macro PROBE_STOW]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[probe]
pin: ^!mcu1:PIN_GPIO_EXT2 # v2 is tigger on low-level
deactivate_on_each_sample: False
speed: 5.0
activate_gcode:
    PROBE_DEPLOY
    G4 P500 # wait 0.5s
deactivate_gcode:
    PROBE_STOW
x_offset: 0.0
y_offset: 30.0
z_offset: 0.1
